%section#comments

  #share
    %span(class='st_fblike_hcount' st_url="#{request.scheme}://#{request.host}#{article.url}" displayText='Facebook Like')
    %span(class='st_twitter_hcount' st_url="#{request.scheme}://#{request.host}#{article.url}" displayText='Tweet')
    %span(class='st_email_hcount' displayText='Email')

  .fb-comments(data-href="http://www.justintoo.com#{article.url}" data-num-posts="10" data-width="560")

-#  #disqus_thread
-#
-#  :javascript
-#    var disqus_shortname  = 'justintoo';
-#    var disqus_identifier = '#{article.disqus_id}';
-#    var disqus_url        = 'http://justintoo.com#{article.url}';
-#
-#    (function() {
-#        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
-#        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
-#        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
-#    })();
-#
-#  %noscript
-#    Please enable JavaScript to view the
-#    %a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
-#
-#  %a(href="http://disqus.com" class="dsq-brlink")
-#    blog comments powered by
-#    %span.logo-disqus Disqus
